body{
	min-width:600px;
	font-family:roboto;
	font-size:23px;
	width:100%;
	margin:0px;
	padding:0px;
	line-height:1.7;
	background-color:#efefef;
	z-index:2;
	color:#72430d;
}

.h{
	font-size:40px;
	font-weight:bold;
	color:#d27f0f;
}


main{
	margin:0px;
	padding:0px;
	width:100%;
	position:inherit;
}

@media only screen and (min-width:800px){
	
	.h{
	margin-bottom:15px;
	margin-top:30px;
}
	
	header{
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    position: fixed;
	height:60px;
	width:100%;
    z-index: 10;
	padding:0;
	margin:0;
}

#menunav{
	display:none;
}

#anav{
	display:none;
}

#logo{
	position: absolute;
	width:240px;
	height:60px;
	margin:0;
	text-align:center;
	color:#d27f0f;
	font-weight:500;
	font-size:30px;
}

#logot{
	margin:auto;
	padding-top:3px;
	padding-bottom:3px;
}

.barra{
	top:-80px;
	float:right;
	font-size:20px;
	letter-spacing:4px;
	font-weight:lighter;
	z-index:10;
	margin:auto;
	height:60px;
}	

.nav{

    text-decoration:none;
	color:black;
	height:60px;
	margin:0;
}

.navtext{
	margin-top:auto;
	margin-bottom:auto;
	padding-right:20px;
	padding-left:20px;
	padding-top:13px;
	padding-bottom:13px;
}

section{
	position:relative;
	height:100vh;
	background-color:white;
	margin:0px;
	padding:1px;
	}


article{
	position:relative;
	top:13%;
	margin:auto;
	width:800px;
	height:500px;
	padding:0,5px;
}

.text{
	text-indent:0px
}

.leftbox{
	margin-top:200px;
	width:48%;
	margin:auto;
	display:inline-block;
	padding:0,5px;
}

.rightbox{
	width:48%;
	margin:auto;
	display:inline-block;
	right:0%;
	padding:0,5px;
}

.imgright{
text-align:right;
	display:inline-block;
	
}

img{
	width:400px;
	height:380px;
	text-align:right;
	margin-right:0;
	border-radius:50%;
}

.imgleft{
	position:absolute;
	left:0%;
}

aside{
	width:50%;
	margin-top:auto;
	margin-bottom:auto;
}

.mision{
	text-align:center;
}

.barra:hover{
	background-color:#fffbf0;
} 

	#inicio{
		position:relative;
		position:top center;
		width:100%;
		margin:0;
		padding:0;
		height:100vh;
		background-image: url("Inicio.jpg");
		background-repeat:round;
		background-attachment:fixed;
	}

	#titulos{
		width:50%;
		position:relative;
		margin:auto;
		top:20%
	}

	h1{
		padding:0px;
		margin:0px;
		font-size:6vw;
		color:white;
		font-family: roboto;
		text-align: center;
	}

	#subtitulo{
		font-size:3vw;
		color:#d27f0f;
		font-family: roboto;
		position:relative;
		top:-2.5vw;
		left:25%;
		margin:auto;
	}
	
	#slogan{
		font-size:3vw;
		color:#ffffff;
		font-family: roboto;
		position:absolute;
		top:16vw;
		left:0vw;
		text-align:center;
		font-style:italic;
		line-height:3.5vw;
	}

	.hm{
	font-size:40px;
	font-weight:bold;
	color:#fff8e6;
	}
	
	.tv{
	color:#fffbf0;
	}
	
	#propuestas{
		background-color:#fffbf0;
	}
	
	#special{
	top:10%
	}
	
	.row{
		height:140px;
	}
	
	.leftcol{
		position:absolute;
		left:0%;
		height:80px;
		width:44%;
		background-color:#fff4d9;
		padding:2%;
		text-align:center;
		vertical-align:middle;
	}
	
	.rightcol{
		position:absolute;
		right:0%;
		width:44%;
		height:80px;
		background-color:#fff4d9;
		padding:2%;
		text-align:center;
		vertical-align:middle;
	}
	
	.midcol{
		position:absolute;
		left:27%;
		width:44%;
		background-color:#fff4d9;
		padding:2%;
		text-align:center;
		vertical-align:middle;
	}
	
	.leftcol:hover{
		background-color:#fff8e6;
	}
	.rightcol:hover{
		background-color:#fff8e6;
	}
	.midcol:hover{
		background-color:#fff8e6;
	}
	
	#mvv{
		background-image:url("Mision.jpg");
		background-repeat:round;
		background-attachment:fixed;
		color:white;
	}

	#textmvv{
		position:relative;
		top:44%;
		text-align:center;
	}
	
	#m{
		width:45%;
		margin:auto;
		position:absolute;
		left:0%;
	}

	#v{
		width:45%;
		margin:auto;
		position:absolute;
		right:0%;
	}
	
	img{
		margin-top:auto;
		margin-bottom:auto;

	}

	#imgcon{
		width:320px;
		height:300px;
		margin-left:50px;
		margin-top:100px;
		margin-bottom:0;
	}
	
	#contbox{
		position:relative;
		top:17px;
	}
	

	li{
		padding-bottom:20px;
	}

	footer{
		position:relative;
		background-color:#fffbf0;
		text-align:center;
		font-size:1.5vw;
		padding:2px;
	}
}

/*                                                */
/*                                                */
/*                                                */
/*           VERSION MOVIL                        */
/*                                                */
/*                                                */
/*                                                */
/*                                                */
/*                                                */
/*                                                */

@media only screen and (max-width:800px){
	body{
		text-align:center;
	}
	
	a{
	    text-decoration:none;
		color:black;
		font-weight:bold;
		z-index:11;
	}
	
	.h{
	font-size:40px;
	font-weight:bold;
	margin:0;
}
	
	.navi:active{
		background-color:#fffbf0;
	}
	
header{
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    position: fixed;
	height:100px;
	width:100%;
    z-index: 10;
	padding:0;
	margin:0;
}

#menunav{
	display:inline-block;
	width:80px;
	padding:10px;
	position:absolute;
	right:10px;
}

#bnav{
	display:none;
}

#aanav{
	position:relative;
	top:100px;
}

.closed{
	display:none;
}

#logo{
	position: absolute;
	left:0;
	width:240px;
	height:100px;
	margin:0;
	text-align:center;
	color:#d27f0f;
	font-weight:500;
	font-size:30px;
	display:inline-block;
}

#logot{
	margin:auto;
	padding-top:23px;
	padding-bottom:23px;
}

.nav{

    text-decoration:none;
	text-align:center;
	font-weight:lighter;
	color:#72430d;
}

.navi{
		margin:-1px;
		font-size:30px;
		padding:25px;
		background-color:white;
		z-index:12;
	}
.divi{
	display:block;
	padding:1px;
	background-color:gray;
}

.divitydiv{
	padding-left:150px;
	padding-right:150px;
	background-color:white;
	display:block;
}
	
		#inicio{
		position:relative;
		position:top center;
		width:100%;
		margin:0;
		padding:0;
		height:840px;
		background-image: url("Iniciovert.jpg");
		background-repeat:round;
	}

	#titulos{
		padding:1px;
		position:relative;
		margin-left:30px;
		margin-right:30px;
		top:30%;
	}

	h1{
		font-size:75px;
		color:white;
		font-family: roboto;
		text-align: center;
		line-height:0px;
		margin-bottom:40px
	}

	#subtitulo{
		font-size:30px;
		color:#db8a51;
		font-family: roboto;
	}
	
	#slogan{
		font-size:30px;
		font-style:italic;
		color:white;
		font-family: roboto;
		position:relative;
		top:170px;
}
	
section{
	height:620px;
	padding:10px;
	background-color:#fffbf0
}

article{
	position:relative;
	margin:100px;
}
	
	#mvv{
		margin:0;
		padding:0;
		position:relative;
		height:680px;
		background-image:url("Misionvert.jpg");
		background-repeat:round;
		color:white;
	}

	#textmvv{
		text-align:center;
		position:absolute;
		top:20%;
		bottom:17%;
		right:0;
		left:0;
		width:90%;
		margin:auto;
	}
	
	.hm{
		font-size:30px;
		font-weight:bold;
		color:#fffbf0;
	}

	#special{
		margin-top:65px;
	}
	
	#propuestas{
		height:700px;
	}

	#contacto{
		height:620px;
		background-color:#ffffff;
	}
	
	#contart{
		margin-top:150px;
}

	ul{
		list-style-type:none;
	}
	
	li{
		padding-bottom:20px;
	}

	footer{
		position:relative;
		background-color:#fffbf0;
		padding:20px;
		margin:0;
		text-align:center;
		line-height:15px;
		font-size:20px;
		font-style:italic;
	}

	
	img{
		display:none;
	}
}
	

